#console {
  background-color: rgb(117 117 117);
  border-radius: 2rem;
  padding: 65px 38px 60px 5px;
  display: flex;
  /* gap: 25px; */
}

#console.pcm {
  box-shadow: inset 4px 5px 0 0 rgb(163 163 163), inset -4px -5px 0 0 rgb(88 88 88), 3px 2px 16px 0px rgb(0 215 255);
}

#console.overtones {
  box-shadow: inset 4px 5px 0 0 rgb(163 163 163), inset -4px -5px 0 0 rgb(88 88 88), 3px 2px 16px 0px rgb(255 100 247);
}

div#middle_console {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

div#wave_buttons {
  gap: 50px;
  display: flex;
  justify-content: center;
}

div#hz_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 34px;
  z-index: 1;
}

div#toggle_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 36px 36px;
}
