#boot_overlay, #boot_overlay button {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 500px;
  text-align: left;
  color: hsl(177deg, 50%, 60%);
  font-family: "VT323";
  font-size: 32px;
  line-height: 40px;
  padding: 13px 46px;
}

#boot_overlay h1 {
  font-size: 48px;
  font-weight: normal;
}

#boot_options {
  font-size: 48px;
  text-align: center;
}

#boot_overlay button {
  background: black;
  position: relative;
  box-shadow: none;
  border: hsl(177deg, 50%, 60%);
  border-style: dashed;
  /* border-width: 4px; */
  padding: 5px 10px;
  margin: 8px;
  font-size: 48px;
}