#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#console {
  background-color: rgb(63, 63, 63);
  border-radius: 2rem;
  padding: 4rem;
  display: flex;
}

button {
  margin: 1rem
}