#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  /* margin: 1rem; */
  padding: 7px 22px;
  border-radius: 0.5rem;
  border-width: 0.25rem;
  border-style: none;
  background-color: hsl(179.08deg 100% 37.25%);
  box-shadow: inset -1px -4px 0px 0px hsl(179.08deg 100% 25%),
    inset 1px 2px 0px 0px hsl(179.08deg 100% 50%);
    /* , rgb(244 7 231) 0px 0px 0px 1px, rgb(244 7 231 / 26%) 0px 0px 20px 1px */
  cursor: pointer;
}

.digital-display {
  font-family: "Digital Numbers", sans-serif;
  background-color: hsl(177deg, 98%, 10%);
  color: hsl(177deg, 98%, 60%);
  border-radius: 0.25rem;
  padding: 0.2rem;
  border-style: inset;
  border-width: 4px;
  border-color: #9a9999;
  margin: 0;
}
