:root {
  --color: #000;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#console {
  background-color: rgb(117 117 117);
  border-radius: 2rem;
  padding: 4rem;
  display: flex;
  box-shadow: inset 4px 5px 0 0 rgb(163 163 163), inset -4px -5px 0 0 rgb(88 88 88), -4px -3px 20px 0 rgb(127 235 255), 3px 2px 20px 0 rgb(255 127 249);
}

#screen {
  border-style: inset;
  border-width: 8px;
  border-color: #9a9999;
}

button {
  margin: 1rem;
  padding: 8px;
  border-radius: 0.5rem;
  border-width: 0.25rem;
  border-style: none;
  background-color: hsl(179.08deg 100% 37.25%);
  box-shadow: inset -1px -2px 0px 0px hsl(179.08deg 100% 25%), inset 1px 2px 0px 0px hsl(179.08deg 100% 50%);
}


.up-arrow {
  padding: 0;
  background-color: transparent;
  border-radius: 0rem;
  border-top: none;
  border-bottom: 33px solid hsl(179.08deg 100% 40.55%);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  /* box-shadow: inset -1px -3px 0px 0px hsl(179.08deg 100% 25%), inset 1px 2px 0px 0px hsl(179.08deg 100% 50%); */
}


.down-arrow {
  padding: 0;
  background-color: transparent;
  border-radius: 0rem;
  border-top: none;
  border-top: 33px solid hsl(179.08deg 100% 40.55%);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  /* box-shadow: inset -1px -3px 0px 0px hsl(179.08deg 100% 25%), inset 1px 2px 0px 0px hsl(179.08deg 100% 50%); */
}


.digital-display {
  font-family: 'Digital Numbers', sans-serif;
  background-color: hsl(177deg, 98%, 10%);
  color: hsl(177deg, 98%, 60%);
  border-radius: .25rem;
  padding: .2rem;
  border-style: inset;
  border-width: 4px;
  border-color: #9a9999;
}





.toggle {
  border-radius: 2rem;
  padding: 50px 25px;
  background-color: #414141;
  /* background-color: #b3b3b3; */
  position: relative;
  box-shadow: inset 1px 1px 5px 0 black;
}

.toggle::before {
  background-color: hsl(179.08deg 100% 40.55%);
  padding: 30px 20px;
  content: "";
  border-radius: 1.5rem;
  position: absolute;
  left: 5px;
  top: 5px;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset -1px -2px 0px 0px hsl(179.08deg 100% 25%), inset 1px 2px 0px 0px hsl(179.08deg 100% 50%);
}

.toggle[aria-pressed="false"]::before {
  -webkit-transform: translateY(29px);
  -ms-transform: translateY(29px);
  transform: translateY(29px);
}
